body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 40px;
    max-width: 1000px;
    width: 100%;
    padding: 20px;
}
.profile {
    position: relative;
    text-align: center;
    grid-column: span 2;
    margin-top: 50px; /* Position profile picture lower */
    margin-bottom: 10px;
}
.profile img {
    border-radius: 50%;
    width: 250px; /* Increase size */
    height: 250px; /* Increase size */
}
.name-title {
    position: relative;
    font-size: 2em;
    color: #9400D3; /* Dark Purple */
    text-align: center;
    width: 100%;
    margin-top: 20px; /* Space between profile picture and name */
    margin-bottom: 20px; /* Space between name and info boxes */
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    padding: 5px 0;
}
a {
    color: #1a1aff; /* Dark Blue */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.section {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 1;
}
.section:nth-child(odd) {
    transform: translateX(-10%) translateY(20px); /* Increased translateY */
    z-index: 2;
}
.section:nth-child(even) {
    transform: translateX(10%) translateY(20px); /* Increased translateY */
}
.section:nth-child(1) {
    z-index: 3;
}
.section:nth-child(2) {
    z-index: 4;
    margin-top: 20px; /* Adjusted margin-top */
}
.section.contact {
    grid-column: span 2;
    text-align: center;
    transform: translateX(0) translateY(20px); /* Increased translateY */
}
@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }
    .section {
        transform: translateX(0) translateY(0);
        z-index: 1;
    }
}
.footer {
    grid-column: span 2;
    text-align: center;
    color: #FFA500; /* Yellow/Orange color */
    font-size: 1.2em; /* Make it a little bigger */
}
